.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root{
  --primary-white: #fff;
  --primary-gray: gray;
  --primary-green: #198754;
  --primary-sucess: green;
  --primary-dark: black;
}

body{
  font-family: "Roboto Condesed", sans-serif;
  background-color: #028a0f;
}
.header-wraper {

  background: url(./assets/arnold-francisca-f77Bh3inUpE-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}